$lightblue : #81B3D2;
$white : #ffffff;

@mixin font-weight-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: PT Sans, sans-serif;
  text-transform: uppercase;
}


@mixin font-weight-thin {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: PT Sans, sans-serif;
  text-transform: uppercase;
  color: #333333
}
